	<div class="header">
		<div class="logo"><a href="#"><img src="img/logo.png" alt="Лого" title="Логотип Компании"></a></div><!--.logo-->
		<div class="header_user">Якушевский Виталий {{ name }} </div>
		<div class="header_user_data"><a title="Изменить личные данные" href="#">Изменить личные данные</a></div>
		<div class="header_user_exit"><a title="Выход" href="#" id="logout">Выход <span class="exit">&nbsp;</span></a></div>
		<div class="header_user_personal-account"><a title="Все лицевые счета" href="#"><span class="personal-account">&nbsp;</span>Все лицевые счета</a></div>
	</div><!-- .header-->


<script type="text/javascript">
    $(document).ready(function() {
			$('#logout').click(function(event){
				event.preventDefault();
				$.ajax({
					type: "POST",
					url: "{{ path('_jkh_logout') }}",
					success: function(data){
						var current_http = document.location.href;
					    //alert("Прибыли данные: " + data);
					    document.location.href = current_http;
					}
				});
				return false;
			});
    });
</script>