    <div class="separator"></div>
    <div class="promo_header_user-info"> 2589
      <div class="promo_header_user-info-text"> пользователей уже успешно<br>
        пользуются сервисом </div>
    </div>
    <form id="login">
      <input type="text" class="promo_header_email" name="email" placeholder="Имя ящика" required>
      <input type="text" class="promo_header_password" name="pass" placeholder="Пароль" required>
      <div class="promo_header_text-info"><a href="#" id="forg_pass">Забыли пароль?</a></div>
      <input type="submit" class="promo_header_button" value="Войти">
    </form>


<script type="text/javascript">
    $(document).ready(function() {
      $('#login').submit(function(){
        $.ajax({
          type: "POST",
          url: "{{ path('_jkh_login') }}",
          data: $(this).serialize(),
          success: function(data){
            var current_http = document.location.href;
              if (data == "true") {
                //alert("Вход успешный " + data);
                document.location.href = current_http;
              }
              else {
                alert("Проверьте правильность вводимых данных и повторите попытку");
              }
          }
        });
        return false;
      });

      $('#forg_pass').click( function(event){
        event.preventDefault(); // выключaем стaндaртную рoль элементa
        $('#password2') 
              .css('display', 'block')
              .animate({opacity: 1, top: '0%'}, 200);
      });

      $("#recovery_pass").submit(function(){
        $.ajax({
          type: "POST",
          url: "{{ path('_jkh_recoverypass') }}",
          data: $(this).serialize(),
          success: function(data){
              alert("Сообщение: " + data);
          }
        });
        return false;
      });

      $('#changepassform').submit(function(){
        $('#password1') 
              .css('display', 'none')
              .animate({opacity: 0, top: '0%'}, 200);
      
        $.ajax({
          type: "POST",
          url: "{{ path('_jkh_changepass') }}",
          data: $(this).serialize(),
          success: function(data){
               alert("Сообщение: " + data);
          }
        });
        return false;
      });

    });
</script>