<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>_ ЖКХ catalog.html</title>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:700,400&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
		<!--[if IE ]><link rel="stylesheet" href="css/ie.css" type="text/css" media="screen, projection" /><![endif]-->
	<link rel="stylesheet" href="css/style.css" type="text/css" media="screen, projection" />
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
</head>

<body class="base">

<div class="wrapper">

	<div class="header">
		<div class="logo"><a href="#"><img src="img/logo.png" alt="Лого" title="Логотип Компании"></a></div><!--.logo-->
		<div class="header_user">Якушевский Виталий</div>
		<div class="header_user_data"><a title="Изменить личные данные" href="#">Изменить личные данные</a></div>
		<div class="header_user_exit"><a title="Выход" href="#">Выход <span class="exit">&nbsp;</span></a></div>
		<div class="header_user_personal-account"><a title="Все лицевые счета" href="#"><span class="personal-account">&nbsp;</span>Все лицевые счета</a></div>
	</div><!-- .header-->

	<div class="middle">
		<div class="catalog">
			<div class="catalog_title">
				Справочник организаций
				<div class="catalog_title_right">
					<div class="catalog_title_city">
						Минск
					</div>
					<div class="catalog_title_city-other">
						<a href="#">Другой город</a>
					</div>					
				</div>
			</div>
            <div class="catalog_search_first" style="display:none">
            <form id="search_organization" method="get" action="#">
            <input class="search_text" type="text" placeholder="Искать...">
            <input class="search_btn" type="button" value="">
            <span class="input_clear">очистить</span>
            <p>Например   <a href="#">ЖРЭО</a>   <a href="#">ЖЭС</a>   <a href="#">РСЦ</a>   <a href="#">Экстренные службы</a>   <a href="#">Поставщики услуг</a></p>
            </form>
            </div>
			<div class="catalog_menu">
				<ul class="ul-clear">
					<li><a href="#" title="">Все организации</a></li>
					<li><a href="#" title="">Поставщики услуг</a></li>			
					<li class="last">Вода и канализация</li>   
				</ul>
			</div>
			<div class="catalog_search">
				<input type="button" class="general" value="&larr; Вернуться к общему поиску">
				<div class="catalog_search_inner">
                <form id="search" method="get" action="#">	
					<label>Искать в этом разделе:</label>
					<input class="search_text" type="text" placeholder="Искать...">
					<input class="search_btn" type="button" value="">
                    </form>
				</div>
			</div>
			<div class="catalog_items">
				<div class="catalog_item">
					<div class="catalog_item_title">
						ЖРЭО Центрального района Эксплуатирующая организация Эксплуатирующая организация Эксплуатирующая организация Эксплуатирующая организация &nbsp; <span class="arrow-blue">&nbsp;</span>
						<div class="catalog_item_title_token">Ж</div>
					</div>
					<div class="catalog_item_info">
						<a href="#">Эксплуатирующая организация Эксплуатирующая организация Эксплуатирующая организация Эксплуатирующая организация Эксплуатирующая организация Эксплуатирующая организация</a><br>
						Подчиняется: <a href="#">ЖРЭО Центрального района</a><br>
						Управляет: <a href="#">Подразделение №5</a><br>
					</div>
					<div class="catalog_item_data">
						<div class="catalog_item_data_title">
							220117, Ул. Романовская Слобода, д. 14а <a href="#"><span class="map">&nbsp;</span> На карте </a>
						</div>
						<div class="catalog_item_data_box">
							Диспетчерская служба<div class="pad-20"></div>
							<span class="phone">&nbsp;</span>&nbsp;(17) 221-01-01<div class="pad-10"></div>
							ПН—ПТ: 9<sup>00</sup> — 18<sup>00</sup><br>
							ВТ, ЧТ, СБ: 14<sup>00</sup> — 20<sup>00</sup><br>
						</div>
						<div class="catalog_item_data_box">
							Приёмная<div class="pad-20"></div>
							<span class="phone">&nbsp;</span>&nbsp;(17) 221-01-01<div class="pad-10"></div>
							ПН—ПТ: 9<sup>00</sup> — 18<sup>00</sup><br>
							ВТ, ЧТ, СБ: 14<sup>00</sup> — 20<sup>00</sup><div class="pad-20"></div>
							<a href="#">mail@zreo.by</a>
						</div>
						<div class="catalog_item_data_box">
							Директор Василев В. А.<div class="pad-20"></div>
							<span class="phone">&nbsp;</span>&nbsp;(17) 221-01-01<div class="pad-10"></div>
							ПН—ПТ: 9<sup>00</sup> — 18<sup>00</sup><br>
							ВТ, ЧТ, СБ: 14<sup>00</sup> — 20<sup>00</sup><div class="pad-20"></div>
							<a href="#">mail@zreo.by</a>
						</div>
						<div class="separator pad-20"></div>
						<a href="#" class="e-tweet" data-org-id="1"><span class="e-mail">&nbsp;</span>&nbsp;Написать электронное обращение в организацию</a>
					</div>
				</div>
				<div class="catalog_item">
					<div class="catalog_item_title">
						ЖРЭО Центрального района &nbsp; <span class="arrow-blue">&nbsp;</span>
						<div class="catalog_item_title_token">Ж</div>
					</div>
					<div class="catalog_item_info">
						<a href="#">Эксплуатирующая организация</a><br>
						Подчиняется: <a href="#">ЖРЭО Центрального района</a><br>
						Управляет: <a href="#">Подразделение №5</a><br>
					</div>
					<div class="catalog_item_data">
						<div class="catalog_item_data_title">
							220117, Ул. Романовская Слобода, д. 14а <a href="#"><span class="map">&nbsp;</span> На карте </a>
						</div>
						<div class="catalog_item_data_box">
							Диспетчерская служба<div class="pad-20"></div>
							<span class="phone">&nbsp;</span>&nbsp;(17) 221-01-01<div class="pad-10"></div>
							ПН—ПТ: 9<sup>00</sup> — 18<sup>00</sup><br>
							ВТ, ЧТ, СБ: 14<sup>00</sup> — 20<sup>00</sup><br>
						</div>
						<div class="catalog_item_data_box">
							Приёмная<div class="pad-20"></div>
							<span class="phone">&nbsp;</span>&nbsp;(17) 221-01-01<div class="pad-10"></div>
							ПН—ПТ: 9<sup>00</sup> — 18<sup>00</sup><br>
							ВТ, ЧТ, СБ: 14<sup>00</sup> — 20<sup>00</sup><div class="pad-20"></div>
							<a href="#">mail@zreo.by</a>
						</div>
						<div class="catalog_item_data_box">
							Директор Василев В. А.<div class="pad-20"></div>
							<span class="phone">&nbsp;</span>&nbsp;(17) 221-01-01<div class="pad-10"></div>
							ПН—ПТ: 9<sup>00</sup> — 18<sup>00</sup><br>
							ВТ, ЧТ, СБ: 14<sup>00</sup> — 20<sup>00</sup><div class="pad-20"></div>
							<a href="#">mail@zreo.by</a>
						</div>
						<div class="separator pad-20"></div>
						<a href="#" class="e-tweet" data-org-id="2"><span class="e-mail">&nbsp;</span>&nbsp;Написать электронное обращение в организацию</a>
					</div>					
				</div>
				<div class="catalog_item">
					<div class="catalog_item_title">
						ЖРЭО Центрального района &nbsp; <span class="arrow-blue">&nbsp;</span>
						<div class="catalog_item_title_token">О</div>
					</div>
					<div class="catalog_item_info">
						<a href="#">Эксплуатирующая организация</a><br>
						Подчиняется: <a href="#">ЖРЭО Центрального района</a><br>
						Управляет: <a href="#">Подразделение №5</a><br>
					</div>
					<div class="catalog_item_data">
						<div class="catalog_item_data_title">
							220117, Ул. Романовская Слобода, д. 14а <a href="#"><span class="map">&nbsp;</span> На карте </a>
						</div>
						<div class="catalog_item_data_box">
							Диспетчерская служба<div class="pad-20"></div>
							<span class="phone">&nbsp;</span>&nbsp;(17) 221-01-01<div class="pad-10"></div>
							ПН—ПТ: 9<sup>00</sup> — 18<sup>00</sup><br>
							ВТ, ЧТ, СБ: 14<sup>00</sup> — 20<sup>00</sup><br>
						</div>
						<div class="catalog_item_data_box">
							Приёмная<div class="pad-20"></div>
							<span class="phone">&nbsp;</span>&nbsp;(17) 221-01-01<div class="pad-10"></div>
							ПН—ПТ: 9<sup>00</sup> — 18<sup>00</sup><br>
							ВТ, ЧТ, СБ: 14<sup>00</sup> — 20<sup>00</sup><div class="pad-20"></div>
							<a href="#">mail@zreo.by</a>
						</div>
						<div class="catalog_item_data_box">
							Директор Василев В. А.<div class="pad-20"></div>
							<span class="phone">&nbsp;</span>&nbsp;(17) 221-01-01<div class="pad-10"></div>
							ПН—ПТ: 9<sup>00</sup> — 18<sup>00</sup><br>
							ВТ, ЧТ, СБ: 14<sup>00</sup> — 20<sup>00</sup><div class="pad-20"></div>
							<a href="#">mail@zreo.by</a>
						</div>
						<div class="separator pad-20"></div>
						<a href="#" class="e-tweet" data-org-id="3"><span class="e-mail">&nbsp;</span>&nbsp;Написать электронное обращение в организацию</a>
					</div>					
				</div>
				<div class="catalog_item">
					<div class="catalog_item_title">
						ЖРЭО Центрального района &nbsp; <span class="arrow-blue">&nbsp;</span>
						<div class="catalog_item_title_token">O</div>
					</div>
					<div class="catalog_item_info">
						<a href="#">Эксплуатирующая организация</a><br>
						Подчиняется: <a href="#">ЖРЭО Центрального района</a><br>
						Управляет: <a href="#">Подразделение №5</a><br>
					</div>
					<div class="catalog_item_data">
						<div class="catalog_item_data_title">
							220117, Ул. Романовская Слобода, д. 14а <a href="#"><span class="map">&nbsp;</span> На карте </a>
						</div>
						<div class="catalog_item_data_box">
							Диспетчерская служба<div class="pad-20"></div>
							<span class="phone">&nbsp;</span>&nbsp;(17) 221-01-01<div class="pad-10"></div>
							ПН—ПТ: 9<sup>00</sup> — 18<sup>00</sup><br>
							ВТ, ЧТ, СБ: 14<sup>00</sup> — 20<sup>00</sup><br>
						</div>
						<div class="catalog_item_data_box">
							Приёмная<div class="pad-20"></div>
							<span class="phone">&nbsp;</span>&nbsp;(17) 221-01-01<div class="pad-10"></div>
							ПН—ПТ: 9<sup>00</sup> — 18<sup>00</sup><br>
							ВТ, ЧТ, СБ: 14<sup>00</sup> — 20<sup>00</sup><div class="pad-20"></div>
							<a href="#">mail@zreo.by</a>
						</div>
						<div class="catalog_item_data_box">
							Директор Василев В. А.<div class="pad-20"></div>
							<span class="phone">&nbsp;</span>&nbsp;(17) 221-01-01<div class="pad-10"></div>
							ПН—ПТ: 9<sup>00</sup> — 18<sup>00</sup><br>
							ВТ, ЧТ, СБ: 14<sup>00</sup> — 20<sup>00</sup><div class="pad-20"></div>
							<a href="#">mail@zreo.by</a>
						</div>
						<div class="separator pad-20"></div>
						<a href="#" class="e-tweet" data-org-id="4"><span class="e-mail">&nbsp;</span>&nbsp;Написать электронное обращение в организацию</a>
					</div>					
				</div>				
			</div>
			<div class='pad-40'></div>
		</div><!-- .catalog-->
	</div><!-- .middle-->

{% include 'footer.html.twig' %}

</div><!-- .wrapper -->


</body>
</html>