<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>_ ЖКХ poster.html</title>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:700,400&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
		<!--[if IE ]><link rel="stylesheet" href="css/ie.css" type="text/css" media="screen, projection" /><![endif]-->
	<link rel="stylesheet" href="css/style.css" type="text/css" media="screen, projection" />
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<!-- script type="text/javascript" src="js/jquery.limit.js"></script -->
	<!-- script type="text/javascript" src="js/script.js"></script -->
	<script type="text/javascript" src="js/catalog.js"></script>
</head>

<body class="base">

<div class="wrapper">

	<div class="header">
		<div class="logo"><a href="#"><img src="img/logo.png" alt="Лого" title="Логотип Компании"></a></div><!--.logo-->
		<div class="header_user">Якушевский Виталий</div>
		<div class="header_user_data"><a title="Изменить личные данные" href="#">Изменить личные данные</a></div>
		<div class="header_user_exit"><a title="Выход" href="#">Выход <span class="exit">&nbsp;</span></a></div>
		<div class="header_user_personal-account"><a title="Все лицевые счета" href="#"><span class="personal-account">&nbsp;</span>Все лицевые счета</a></div>
	</div><!-- .header-->

	<div class="middle">
		<div class="poster">
			<div class="poster_title">
				<a href="#"><span class="light-blue-arrow">&nbsp;</span> Вернуться</a>
				<span class="exit-light-blue">&nbsp;</span>
			</div>
			<div class="poster_data">
				<table>
					<tr>
						<td class="left_col">&nbsp;</td>
						<td>
							<a href="#"><span class="edit">&nbsp;</span> &nbsp;Редактировать</a> &nbsp; &nbsp; &nbsp; 
							<a href="#" class="orange"><span class="delete">&nbsp;</span> &nbsp;Удалить</a>
							<div class="pad-20"></div>
						</td>
					</tr>
					<tr>
						<td class="left_col gray text-right">
							2013.05.06<br>Константипольский В. А.
						</td>
						<td style="font-size:42px; font-weight:bold; line-height:42px;">
							Продам квартиру. 7 этаж, трёхкомнатная, ремонт. Хорошая квартира в 3ем подъезде.
							<div class="pad-10"></div>
						</td>
					</tr>
					<tr>
						<td class="left_col text-right" style="padding-top:5px;">
							<img src="demo/photo_1.jpg" alt="">
							<img src="demo/photo_2.jpg" alt="">
						</td>
						<td>
							<p>Кластерное вибрато иллюстрирует ритмоформульный эффект «вау-вау», в таких условиях можно спокойно выпускать пластинки раз в три года. Нонаккорд дает цикл, это понятие создано по аналогии с термином Ю.Н.Холопова «многозначная тональность». Доминантсептаккорд регрессийно начинает диссонансный дисторшн, благодаря широким мелодическим скачкам. Развивая эту тему, трехчастная фактурная форма продолжает кризис жанра, и здесь мы видим ту самую каноническую секвенцию с разнонаправленным шагом отдельных звеньев. Ревер mezzo forte представляет собой лайн-ап, и здесь в качестве модуса конструктивных элементов используется ряд каких-либо единых длительностей.<p>
							<p>Арпеджированная фактура регрессийно использует мелодический алеаторически выстроенный бесконечный канон с полизеркальной векторно-голосовой структурой, в таких условиях можно спокойно выпускать пластинки раз в три года. Алеаторически выстроенный бесконечный канон с полизеркальной векторно-голосовой структурой имеет рефрен, это и есть одномоментная вертикаль в сверхмногоголосной полифонической ткани. Крещендирующее хождение синхронно дает длительностный флюгель-горн, и если в одних голосах или пластах музыкальной ткани сочинения еще продолжаются конструктивно-композиционные процессы предыдущей части, то в других происходит становление новых.</p>
						</td>
					</tr>
					<tr>
						<td class="left_col gray text-right">
							Контакты:
						</td>
						<td style="font-weight:bold;">
							Телефон (+375 29) 123-34-56
						</td>
					</tr>
					
				</table>
				<div class="poster_footer">
					<div class="poster_footer_left">
						<span class="poster_footer_data">15.03.2012</span><br>
						<a href='#' >Отдам мешок картошки в хорошие руки. Недорого.</a>
					</div>
					<div class="poster_footer_right-wrapper">
						<div class="poster_footer_right">
							<span class="poster_footer_data">15.03.2012</span><br>
							<a href='#'>22 сентября в актовом зале школы №145 состоится собрание жильцов вашего дома.</a>					
						</div>	
					</div>
					<div class="separator"></div>
				</div>
				
			</div>
		</div><!-- .poster-->
		<div class='pad-40'></div>
	</div><!-- .middle-->

</div><!-- .wrapper -->

<div class="footer">
	<div class="footer-inner">
		<div class="footer_question"><a href="#"><span class="question">&nbsp;</span> Вопросы и ответы</a></div>
		<ul class="footer-ul ul-clear">
			<li><a href="#">Справочник организаций</a></li>
			<li><a href="#">Льготы</a></li>
			<li><a href="#">Нормативы по теплу</a></li>
			<li><a href="#">Тарифы</a></li>
		</ul>
		<div class="feedback">
			<a href="#">ОБРАТНАЯ СВЯЗЬ</a>
		</div>
		<div class="like">
                              <div class="b-social">
                          <div class="soc fb"><img src="img/soc-fb.png"></div>
                          <div class="soc vk"><img src="img/soc-vk.png"></div>
                          <div class="soc tw"><img src="img/soc-tw.png"></div>
                          <div class="soc ok"><img src="img/soc-ok.png"></div>

                      </div><!--b-social-->
        </div>
		<div class="banner"><a href="#"><img src="img/banner.png" alt=''/></a></div>
		<div class="footer-like">
			<a href="#" class="twitter">&nbsp;</a>&nbsp; 
			<a href="#" class="facebook">&nbsp;</a>&nbsp;
			<a href="#" class="vk">&nbsp;</a>&nbsp;
		</div>
		<div class="copyrights">&copy; 2013, ЖКХ-online</div>
		<div class="support"><a href="#">Разработка сайта <img src="css/pict/link.png" alt=''/></a></div> 

	</div>
</div><!-- .footer -->

</body>
</html>