<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>_ ЖКХ spr_norma.html</title>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:700,400&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
		<!--[if IE ]><link rel="stylesheet" href="css/ie.css" type="text/css" media="screen, projection" /><![endif]-->
	<link rel="stylesheet" href="css/style.css" type="text/css" media="screen, projection" />
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
</head>

<body class="base">

<div class="wrapper">

	<div class="header">
		<div class="logo"><a href="#"><img src="img/logo.png" alt="Лого" title="Логотип Компании"></a></div><!--.logo-->
		<div class="header_user">Якушевский Виталий</div>
		<div class="header_user_data"><a title="Изменить личные данные" href="#">Изменить личные данные</a></div>
		<div class="header_user_exit"><a title="Выход" href="#">Выход <span class="exit">&nbsp;</span></a></div>
		<div class="header_user_personal-account"><a title="Все лицевые счета" href="#"><span class="personal-account">&nbsp;</span>Все лицевые счета</a></div>
	</div><!-- .header-->

	<div class="middle">
		
		<div class="catalog_title">
			Нормативы потребления
			<div class="spr_norma_right">
				<span class="arrow-white-left">&nbsp;</span>
				<div class="spr_norma_title-year">
					2012
				</div>
				<span class="arrow-white-right">&nbsp;</span>
				<div class="separator"></div>
				<div class="spr_norma_title-xls">
					<a href="#"><span class="xls">&nbsp;</span> Полная таблица <span class="xls-size">635 КБ</span></a> 
				</div>				
			</div>
		</div>

		<div class="spr_norma_block-top">
			<div class="block_content_1">Период <span class="arrow_top">&nbsp;</span></div>
			<div class="block_content_2">Отопление, ед. изм. <span class="arrow_bottom">&nbsp;</span></div>
			<div class="block_content_3">Подогрев воды, ед. изм.</div>
		</div>

		<div class="spr_norma_catalog-items">
			<div class="spr_norma_catalog-item">
				<div class="spr_norma_catalog-item_title">
					Январь
				</div>
				<div class="spr_norma_catalog-item_type-box">
					<div class="spr_norma_catalog-item_type-box_title">
						0,0025<span class="arrow-blue">&nbsp;</span>
					</div>	
					<div class="spr_norma_catalog-item_type-box_inner">
						На основании решения  Минск.обл.УП «УЖКХ»   28.01.08 №12/3-8/240<br>
						с 01.05.08г.<br>
						<a href="#">График 1</a>
					</div>
				</div>
				<div class="spr_norma_catalog-item_type-box">
					<div class="spr_norma_catalog-item_type-box_title">
						0,0025<span class="arrow-blue">&nbsp;</span>
					</div>	
					<div class="spr_norma_catalog-item_type-box_inner">
						На основании решения  Минск.обл.УП «УЖКХ»   28.01.08 №12/3-8/240<br>
						с 01.05.08г.<br>
						<a href="#">График 1</a>
					</div>
				</div>
				<div class="separator"></div>
  			</div><!-- spr_lgot_catalog-item -->

			<div class="spr_norma_catalog-item">
				<div class="spr_norma_catalog-item_title">
					Февраль
				</div>
				<div class="spr_norma_catalog-item_type-box">
					<div class="spr_norma_catalog-item_type-box_title">
						0,3425<span class="arrow-blue">&nbsp;</span>
					</div>	
					<div class="spr_norma_catalog-item_type-box_inner">
						На основании решения   28.01.08 №12/3-8/240  Минск.обл.УП «УЖКХ»   28.01.08 №12/3-8/240<br>
						с 01.05.08г.<br>
						<a href="#">График 1</a>
					</div>
				</div>
				<div class="spr_norma_catalog-item_type-box">
					<div class="spr_norma_catalog-item_type-box_title">
						0,0025<span class="arrow-blue">&nbsp;</span>
					</div>	
					<div class="spr_norma_catalog-item_type-box_inner">
						На основании   28.01.08 №12/3-8/240    28.01.08 №12/3-8/240 решения  Минск.обл.УП «УЖКХ»   28.01.08 №12/3-8/240<br>
						с 01.05.08г.<br>
						<a href="#">График 1</a>
					</div>
				</div>
				<div class="separator"></div>
  			</div><!-- spr_lgot_catalog-item -->	
			
			<div class="spr_norma_catalog-item">
				<div class="spr_norma_catalog-item_title">
					Март
				</div>
				<div class="spr_norma_catalog-item_type-box">
					<div class="spr_norma_catalog-item_type-box_title">
						0,0025<span class="arrow-blue">&nbsp;</span>
					</div>	
					<div class="spr_norma_catalog-item_type-box_inner">
						На основании решения  Минск.обл.УП «УЖКХ»   28.01.08 №12/3-8/240<br>
						с 01.05.08г.<br>
						<a href="#">График 1</a>
					</div>
				</div>
				<div class="spr_norma_catalog-item_type-box">
					<div class="spr_norma_catalog-item_type-box_title">
						0,0025<span class="arrow-blue">&nbsp;</span>
					</div>	
					<div class="spr_norma_catalog-item_type-box_inner">
						На основании решения  Минск.обл.УП «УЖКХ»   28.01.08 №12/3-8/240<br>
						с 01.05.08г.<br>
						<a href="#">График 1</a>
					</div>
				</div>
				<div class="separator"></div>
  			</div><!-- spr_lgot_catalog-item -->

			<div class="spr_norma_catalog-item">
				<div class="spr_norma_catalog-item_title">
					Апрель
				</div>
				<div class="spr_norma_catalog-item_type-box">
					<div class="spr_norma_catalog-item_type-box_title">
						0,3425<span class="arrow-blue">&nbsp;</span>
					</div>	
					<div class="spr_norma_catalog-item_type-box_inner">
						На основании решения   28.01.08 №12/3-8/240  Минск.обл.УП «УЖКХ»   28.01.08 №12/3-8/240<br>
						с 01.05.08г.<br>
						<a href="#">График 1</a>
					</div>
				</div>
				<div class="spr_norma_catalog-item_type-box">
					<div class="spr_norma_catalog-item_type-box_title">
						0,0025<span class="arrow-blue">&nbsp;</span>
					</div>	
					<div class="spr_norma_catalog-item_type-box_inner">
						На основании   28.01.08 №12/3-8/240    28.01.08 №12/3-8/240 решения  Минск.обл.УП «УЖКХ»   28.01.08 №12/3-8/240<br>
						с 01.05.08г.<br>
						<a href="#">График 1</a>
					</div>
				</div>
				<div class="separator"></div>
  			</div><!-- spr_lgot_catalog-item -->

			<div class="spr_norma_catalog-item">
				<div class="spr_norma_catalog-item_title">
					Май
				</div>
				<div class="spr_norma_catalog-item_type-box">
					<div class="spr_norma_catalog-item_type-box_title">
						0,0025<span class="arrow-blue">&nbsp;</span>
					</div>	
					<div class="spr_norma_catalog-item_type-box_inner">
						На основании решения  Минск.обл.УП «УЖКХ»   28.01.08 №12/3-8/240<br>
						с 01.05.08г.<br>
						<a href="#">График 1</a>
					</div>
				</div>
				<div class="spr_norma_catalog-item_type-box">
					<div class="spr_norma_catalog-item_type-box_title">
						0,0025<span class="arrow-blue">&nbsp;</span>
					</div>	
					<div class="spr_norma_catalog-item_type-box_inner">
						На основании решения  Минск.обл.УП «УЖКХ»   28.01.08 №12/3-8/240<br>
						с 01.05.08г.<br>
						<a href="#">График 1</a>
					</div>
				</div>
				<div class="separator"></div>
  			</div><!-- spr_lgot_catalog-item -->

			<div class="spr_norma_catalog-item">
				<div class="spr_norma_catalog-item_title">
					Июнь
				</div>
				<div class="spr_norma_catalog-item_type-box">
					<div class="spr_norma_catalog-item_type-box_title">
						0,3425<span class="arrow-blue">&nbsp;</span>
					</div>	
					<div class="spr_norma_catalog-item_type-box_inner">
						На основании решения   28.01.08 №12/3-8/240  Минск.обл.УП «УЖКХ»   28.01.08 №12/3-8/240<br>
						с 01.05.08г.<br>
						<a href="#">График 1</a>
					</div>
				</div>
				<div class="spr_norma_catalog-item_type-box">
					<div class="spr_norma_catalog-item_type-box_title">
						0,0025<span class="arrow-blue">&nbsp;</span>
					</div>	
					<div class="spr_norma_catalog-item_type-box_inner">
						На основании   28.01.08 №12/3-8/240    28.01.08 №12/3-8/240 решения  Минск.обл.УП «УЖКХ»   28.01.08 №12/3-8/240<br>
						с 01.05.08г.<br>
						<a href="#">График 1</a>
					</div>
				</div>
				<div class="separator"></div>
  			</div><!-- spr_lgot_catalog-item -->	
			
			<div class="spr_norma_catalog-item">
				<div class="spr_norma_catalog-item_title">
					Июль
				</div>
				<div class="spr_norma_catalog-item_type-box">
					<div class="spr_norma_catalog-item_type-box_title">
						0,0025<span class="arrow-blue">&nbsp;</span>
					</div>	
					<div class="spr_norma_catalog-item_type-box_inner">
						На основании решения  Минск.обл.УП «УЖКХ»   28.01.08 №12/3-8/240<br>
						с 01.05.08г.<br>
						<a href="#">График 1</a>
					</div>
				</div>
				<div class="spr_norma_catalog-item_type-box">
					<div class="spr_norma_catalog-item_type-box_title">
						0,0025<span class="arrow-blue">&nbsp;</span>
					</div>	
					<div class="spr_norma_catalog-item_type-box_inner">
						На основании решения  Минск.обл.УП «УЖКХ»   28.01.08 №12/3-8/240<br>
						с 01.05.08г.<br>
						<a href="#">График 1</a>
					</div>
				</div>
				<div class="separator"></div>
  			</div><!-- spr_lgot_catalog-item -->

			<div class="spr_norma_catalog-item">
				<div class="spr_norma_catalog-item_title">
					Август
				</div>
				<div class="spr_norma_catalog-item_type-box">
					<div class="spr_norma_catalog-item_type-box_title">
						0,3425<span class="arrow-blue">&nbsp;</span>
					</div>	
					<div class="spr_norma_catalog-item_type-box_inner">
						На основании решения   28.01.08 №12/3-8/240  Минск.обл.УП «УЖКХ»   28.01.08 №12/3-8/240<br>
						с 01.05.08г.<br>
						<a href="#">График 1</a>
					</div>
				</div>
				<div class="spr_norma_catalog-item_type-box">
					<div class="spr_norma_catalog-item_type-box_title">
						0,0025<span class="arrow-blue">&nbsp;</span>
					</div>	
					<div class="spr_norma_catalog-item_type-box_inner">
						На основании   28.01.08 №12/3-8/240    28.01.08 №12/3-8/240 решения  Минск.обл.УП «УЖКХ»   28.01.08 №12/3-8/240<br>
						с 01.05.08г.<br>
						<a href="#">График 1</a>
					</div>
				</div>
				<div class="separator"></div>
  			</div><!-- spr_lgot_catalog-item -->	

			<div class="spr_norma_catalog-item">
				<div class="spr_norma_catalog-item_title">
					Сентябрь
				</div>
				<div class="spr_norma_catalog-item_type-box">
					<div class="spr_norma_catalog-item_type-box_title">
						0,3125<span class="arrow-blue">&nbsp;</span>
					</div>	
					<div class="spr_norma_catalog-item_type-box_inner">
						На Минск.обл.УП «УЖКХ»  основании решения  Минск.обл.УП «УЖКХ»   28.01.08 №12/3-8/240<br>
						с 01.05.08г.<br>
						<a href="#">График 1</a>
					</div>
				</div>
				<div class="spr_norma_catalog-item_type-box">
					<div class="spr_norma_catalog-item_type-box_title">
						0,0025<span class="arrow-blue">&nbsp;</span>
					</div>	
					<div class="spr_norma_catalog-item_type-box_inner">
						На основании решения  Минск.обл.УП «УЖКХ»   28.01.08 №12/3-8/240<br>
						с 01.05.08г.<br>
						<a href="#">График 1</a>
					</div>
				</div>
				<div class="separator"></div>
  			</div><!-- spr_lgot_catalog-item -->

			<div class="spr_norma_catalog-item">
				<div class="spr_norma_catalog-item_title">
					Октябрь
				</div>
				<div class="spr_norma_catalog-item_type-box">
					<div class="spr_norma_catalog-item_type-box_title">
						0,3425<span class="arrow-blue">&nbsp;</span>
					</div>	
					<div class="spr_norma_catalog-item_type-box_inner">
						На основании решения   28.01.08 №12/3-8/240  Минск.обл.УП «УЖКХ»   28.01.08 №12/3-8/240<br>
						с 01.05.08г.<br>
						<a href="#">График 1</a>
					</div>
				</div>
				<div class="spr_norma_catalog-item_type-box">
					<div class="spr_norma_catalog-item_type-box_title">
						0,3225<span class="arrow-blue">&nbsp;</span>
					</div>	
					<div class="spr_norma_catalog-item_type-box_inner">
						На основании На основании  28.01.08 №12/3-8/240    28.01.08 №12/3-8/240 решения  Минск.обл.УП «УЖКХ»   28.01.08 №12/3-8/240<br>
						с 01.05.08г.<br>
						<a href="#">График 1</a>
					</div>
				</div>
				<div class="separator"></div>
  			</div><!-- spr_lgot_catalog-item -->	
			
			<div class="spr_norma_catalog-item">
				<div class="spr_norma_catalog-item_title">
					Ноябрь
				</div>
				<div class="spr_norma_catalog-item_type-box">
					<div class="spr_norma_catalog-item_type-box_title">
						0,0025<span class="arrow-blue">&nbsp;</span>
					</div>	
					<div class="spr_norma_catalog-item_type-box_inner">
						На основании решения  Минск.обл.УП «УЖКХ»   28.01.08 №12/3-8/240<br>
						с 01.05.08г.<br>
						<a href="#">График 1</a>
					</div>
				</div>
				<div class="spr_norma_catalog-item_type-box">
					<div class="spr_norma_catalog-item_type-box_title">
						0,0025<span class="arrow-blue">&nbsp;</span>
					</div>	
					<div class="spr_norma_catalog-item_type-box_inner">
						На основании решения  Минск.обл.УП «УЖКХ»   28.01.08 №12/3-8/240<br>
						с 01.05.08г.<br>
						<a href="#">График 1</a>
					</div>
				</div>
				<div class="separator"></div>
  			</div><!-- spr_lgot_catalog-item -->

			<div class="spr_norma_catalog-item">
				<div class="spr_norma_catalog-item_title">
					Декабрь
				</div>
				<div class="spr_norma_catalog-item_type-box">
					<div class="spr_norma_catalog-item_type-box_title">
						0,3425<span class="arrow-blue">&nbsp;</span>
					</div>	
					<div class="spr_norma_catalog-item_type-box_inner">
						На основании решения   28.01.08 №12/3-8/240  Минск.обл.УП «УЖКХ»   28.01.08 №12/3-8/240<br>
						с 01.05.08г.<br>
						<a href="#">График 1</a>
					</div>
				</div>
				<div class="spr_norma_catalog-item_type-box">
					<div class="spr_norma_catalog-item_type-box_title">
						0,0025<span class="arrow-blue">&nbsp;</span>
					</div>	
					<div class="spr_norma_catalog-item_type-box_inner">
						На основании   28.01.08 №12/3-8/240    28.01.08 №12/3-8/240 решения  Минск.обл.УП «УЖКХ»   28.01.08 №12/3-8/240<br>
						с 01.05.08г.<br>
						<a href="#">График 1</a>
					</div>
				</div>
				<div class="separator"></div>
  			</div><!-- spr_lgot_catalog-item -->				
			
		<div class='pad-30'></div>	
		</div><!-- .spr_lgot_catalog-items-->
		<div class='pad-40'></div>
			
	</div><!-- .middle-->

</div><!-- .wrapper -->

<div class="footer">
	<div class="footer-inner">
		<div class="footer_question"><a href="#"><span class="question">&nbsp;</span> Вопросы и ответы</a></div>
		<ul class="footer-ul ul-clear">
			<li><a href="#">Справочник организаций</a></li>
			<li><a href="#">Льготы</a></li>
			<li><a href="#">Нормативы по теплу</a></li>
			<li><a href="#">Тарифы</a></li>
		</ul>
		<div class="feedback">
			<a href="#">ОБРАТНАЯ СВЯЗЬ</a>
		</div>
		<div class="like">
                              <div class="b-social">
                          <div class="soc fb"><img src="img/soc-fb.png"></div>
                          <div class="soc vk"><img src="img/soc-vk.png"></div>
                          <div class="soc tw"><img src="img/soc-tw.png"></div>
                          <div class="soc ok"><img src="img/soc-ok.png"></div>

                      </div><!--b-social--></div>
		<div class="banner"><a href="#"><img src="img/banner.png" alt=''/></a></div>
		<div class="footer-like">
			<a href="#" class="twitter">&nbsp;</a>&nbsp; 
			<a href="#" class="facebook">&nbsp;</a>&nbsp;
			<a href="#" class="vk">&nbsp;</a>&nbsp;
		</div>
		<div class="copyrights">&copy; 2013, ЖКХ-online</div>
		<div class="support"><a href="#">Разработка сайта <img src="css/pict/link.png" alt=''/></a></div> 

	</div>
</div><!-- .footer -->

</body>
</html>