<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>_ ЖКХ spr_lgot.html</title>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:700,400&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
		<!--[if IE ]><link rel="stylesheet" href="css/ie.css" type="text/css" media="screen, projection" /><![endif]-->
	<link rel="stylesheet" href="css/style.css" type="text/css" media="screen, projection" />
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
</head>

<body class="base">

<div class="wrapper">

	<div class="header">
		<div class="logo"><a href="#"><img src="img/logo.png" alt="Лого" title="Логотип Компании"></a></div><!--.logo-->
		<div class="header_user">Якушевский Виталий</div>
		<div class="header_user_data"><a title="Изменить личные данные" href="#">Изменить личные данные</a></div>
		<div class="header_user_exit"><a title="Выход" href="#">Выход <span class="exit">&nbsp;</span></a></div>
		<div class="header_user_personal-account"><a title="Все лицевые счета" href="#"><span class="personal-account">&nbsp;</span>Все лицевые счета</a></div>
	</div><!-- .header-->

	<div class="middle">
		
		<div class="catalog_title">
			Справочник льгот
			<div class="spr_lgot_right">
				<div class="spr_lgot_title-now">
					<a href="#">Действующие на данный момент</a> 
				</div>			
				<div class="spr_lgot_title-all">
					Все
				</div>
			</div>
		</div>
		<div class="spr_lgot_search">
			<input class="search_text" type="text" placeholder="Искать...">
			<input class="search_btn" type="button" value="">
		</div>

		<div class="spr_lgot_block-top">
			<div class="block_content_1">Льгота <span class="arrow_top">&nbsp;</span></div>
			<div class="block_content_2">Тип <span class="arrow_bottom">&nbsp;</span></div>
			<div class="block_content_3">Дата начала</div>
			<div class="block_content_4">Дата окончания</div>
		</div>

		<div class="spr_lgot_catalog-items">
			<div class="spr_lgot_catalog-item">
				<div class="spr_lgot_catalog-item_title">
					<span class="spr_lgot_catalog-item_title-btn">1 Участники ликвидации последствий катастрофы на ЧАЭС. ст.19(установ. судом) <span class="arrow-blue">&nbsp;</span></span>
					<div class="pad-20"></div>
					<div class="spr_lgot_catalog-item_info">
						Установлена Законом РБ «О статусе Героев Сов.Союза ...» от 21.02.1995 г. № 3599-XII ст.5, 6.
						<div class="spr_lgot_catalog-item_info-title">Список льготируемых услуг и размер льгот</div>
						<div class="spr_lgot_catalog-item_info-value">Вода - канализация: <span>50%</span></div>
						<div class="spr_lgot_catalog-item_info-value">Электроэнергия: <span>70%</span></div>
					</div>
				</div>
				<div class="spr_lgot_catalog-item_type">Чернобыльцы</div>
				<div class="spr_lgot_catalog-item_data-first">01.02.2000</div>
				<div class="spr_lgot_catalog-item_data-last">16.12.2007</div>
				<div class="separator"></div>
  			</div><!-- spr_lgot_catalog-item -->
			
			<div class="spr_lgot_catalog-item">
				<div class="spr_lgot_catalog-item_title">
					<span class="spr_lgot_catalog-item_title-btn">Герои Беларуси,Герои СССР, Герои Соц.труда-участ.ВОВ, полные кавалеры орденов Отечества, Славы <span class="arrow-blue">&nbsp;</span></span>
					<div class="pad-20"></div>
					<div class="spr_lgot_catalog-item_info">
						Установлена Законом РБ «О статусе Героев Сов.Союза ...» от 21.02.1995 г. № 3599-XII ст.5, 6. Установлена Законом РБ «О статусе Героев Сов.Союза ...» от 21.02.1995 г. № 3599-XII ст.5, 6.
						<div class="spr_lgot_catalog-item_info-title">Список льготируемых услуг и размер льгот</div>
						<div class="spr_lgot_catalog-item_info-value">Вода - канализация: <span>50%</span></div>
						<div class="spr_lgot_catalog-item_info-value">Электроэнергия: <span>70%</span></div>
						<div class="spr_lgot_catalog-item_info-value">Вода - канализация: <span>50%</span></div>
						<div class="spr_lgot_catalog-item_info-value">Электроэнергия: <span>70%</span></div>						
					</div>
				</div>
				<div class="spr_lgot_catalog-item_type">Социальные</div>
				<div class="spr_lgot_catalog-item_data-first">01.02.2000</div>
				<div class="spr_lgot_catalog-item_data-last">16.12.2007</div>
				<div class="separator"></div>
  			</div><!-- spr_lgot_catalog-item -->
			
			<div class="spr_lgot_catalog-item">
				<div class="spr_lgot_catalog-item_title">
					<span class="spr_lgot_catalog-item_title-btn">Воины интерна-ты (инвалиды) и нетруд. нераб. чл. их семей, Семьи погибших (умерших) ВИ и нетр. нер чл. <span class="arrow-blue">&nbsp;</span></span>
					<div class="pad-20"></div>
					<div class="spr_lgot_catalog-item_info">
						Установлена Законом РБ «О статусе Героев Сов.Союза ...» от 21.02.1995 г. № 3599-XII ст.5, 6. Установлена Законом РБ «О статусе Героев Сов.Союза ...» от 21.02.1995 г. № 3599-XII ст.5, 6.
						<div class="spr_lgot_catalog-item_info-title">Список льготируемых услуг и размер льгот</div>
						<div class="spr_lgot_catalog-item_info-value">Вода - канализация: <span>50%</span></div>
						<div class="spr_lgot_catalog-item_info-value">Вода - канализация: <span>50%</span></div>
						<div class="spr_lgot_catalog-item_info-value">Электроэнергия: <span>70%</span></div>						
					</div>
				</div>
				<div class="spr_lgot_catalog-item_type">Социальные</div>
				<div class="spr_lgot_catalog-item_data-first">01.02.2000</div>
				<div class="spr_lgot_catalog-item_data-last">16.12.2007</div>
				<div class="separator"></div>
  			</div><!-- spr_lgot_catalog-item -->
			
			<div class="spr_lgot_catalog-item">
				<div class="spr_lgot_catalog-item_title">
					<span class="spr_lgot_catalog-item_title-btn">Ветераны боевых действий на территории других госуд. (муж. — 60, жен. — 55 л.) <span class="arrow-blue">&nbsp;</span></span>
					<div class="pad-20"></div>
					<div class="spr_lgot_catalog-item_info">
						Установлена Законом РБ «О статусе Героев Сов.Союза ...» от 21.02.1995 г. № 3599-XII ст.5, 6. Установлена Законом РБ «О статусе Героев Сов.Союза ...» от 21.02.1995 г. № 3599-XII ст.5, 6.
						<div class="spr_lgot_catalog-item_info-title">Список льготируемых услуг и размер льгот</div>
						<div class="spr_lgot_catalog-item_info-value">Вода - канализация: <span>50%</span></div>
						<div class="spr_lgot_catalog-item_info-value">Вода - канализация: <span>50%</span></div>
						<div class="spr_lgot_catalog-item_info-value">Электроэнергия: <span>70%</span></div>						
					</div>
				</div>
				<div class="spr_lgot_catalog-item_type">Социальные</div>
				<div class="spr_lgot_catalog-item_data-first">01.02.2000</div>
				<div class="spr_lgot_catalog-item_data-last">16.12.2007</div>
				<div class="separator"></div>
  			</div><!-- spr_lgot_catalog-item -->
  			
			<div class="spr_lgot_catalog-item">
				<div class="spr_lgot_catalog-item_title">
					<span class="spr_lgot_catalog-item_title-btn">Работники ЖД больницы 50% <span class="arrow-blue">&nbsp;</span></span>
					<div class="pad-20"></div>
					<div class="spr_lgot_catalog-item_info">
						Установлена Законом РБ «О статусе Героев Сов.Союза ...» от 21.02.1995 г. № 3599-XII ст.5, 6. Установлена Законом РБ «О статусе Героев Сов.Союза ...» от 21.02.1995 г. № 3599-XII ст.5, 6.
						<div class="spr_lgot_catalog-item_info-title">Список льготируемых услуг и размер льгот</div>
						<div class="spr_lgot_catalog-item_info-value">Вода - канализация: <span>50%</span></div>
						<div class="spr_lgot_catalog-item_info-value">Вода - канализация: <span>50%</span></div>
						<div class="spr_lgot_catalog-item_info-value">Электроэнергия: <span>70%</span></div>						
					</div>
				</div>
				<div class="spr_lgot_catalog-item_type">Социальные</div>
				<div class="spr_lgot_catalog-item_data-first">01.02.2000</div>
				<div class="spr_lgot_catalog-item_data-last">16.12.2007</div>
				<div class="separator"></div>
  			</div><!-- spr_lgot_catalog-item -->

			<div class="spr_lgot_catalog-item">
				<div class="spr_lgot_catalog-item_title">
					<span class="spr_lgot_catalog-item_title-btn">Работники ЖД больницы 100% <span class="arrow-blue">&nbsp;</span></span>
					<div class="pad-20"></div>
					<div class="spr_lgot_catalog-item_info">
						Установлена Законом РБ «О статусе Героев Сов.Союза ...» Установлена Законом РБ «О статусе Героев Сов.Союза ...» от 21.02.1995 г. № 3599-XII ст.5, 6.
						<div class="spr_lgot_catalog-item_info-title">Список льготируемых услуг и размер льгот</div>
						<div class="spr_lgot_catalog-item_info-value">Вода - канализация: <span>50%</span></div>
						<div class="spr_lgot_catalog-item_info-value">Вода - канализация: <span>50%</span></div>
						<div class="spr_lgot_catalog-item_info-value">Электроэнергия: <span>70%</span></div>						
					</div>
				</div>
				<div class="spr_lgot_catalog-item_type">Социальные</div>
				<div class="spr_lgot_catalog-item_data-first">01.02.2000</div>
				<div class="spr_lgot_catalog-item_data-last">16.12.2007</div>
				<div class="separator"></div>
  			</div><!-- spr_lgot_catalog-item -->

			<div class="spr_lgot_catalog-item">
				<div class="spr_lgot_catalog-item_title">
					<span class="spr_lgot_catalog-item_title-btn">Работники ЖД больницы 100% <span class="arrow-blue">&nbsp;</span></span>
					<div class="pad-20"></div>
					<div class="spr_lgot_catalog-item_info">
						Установлена Законом РБ «О статусе Героев Сов.Союза ...» Установлена Законом РБ «О статусе Героев Сов.Союза ...» от 21.02.1995 г. № 3599-XII ст.5, 6.
						<div class="spr_lgot_catalog-item_info-title">Список льготируемых услуг и размер льгот</div>
						<div class="spr_lgot_catalog-item_info-value">Вода - канализация: <span>50%</span></div>
						<div class="spr_lgot_catalog-item_info-value">Вода - канализация: <span>50%</span></div>
						<div class="spr_lgot_catalog-item_info-value">Электроэнергия: <span>70%</span></div>						
					</div>
				</div>
				<div class="spr_lgot_catalog-item_type">Социальные</div>
				<div class="spr_lgot_catalog-item_data-first">01.02.2000</div>
				<div class="spr_lgot_catalog-item_data-last">16.12.2007</div>
				<div class="separator"></div>
  			</div><!-- spr_lgot_catalog-item -->			

		
		
		<div class='pad-30'></div>	
		</div><!-- .spr_lgot_catalog-items-->
		<div class='pad-40'></div>
			
	</div><!-- .middle-->

</div><!-- .wrapper -->

<div class="footer">
	<div class="footer-inner">
		<div class="footer_question"><a href="#"><span class="question">&nbsp;</span> Вопросы и ответы</a></div>
		<ul class="footer-ul ul-clear">
			<li><a href="#">Справочник организаций</a></li>
			<li><a href="#">Льготы</a></li>
			<li><a href="#">Нормативы по теплу</a></li>
			<li><a href="#">Тарифы</a></li>
		</ul>
		<div class="feedback">
			<a href="#">ОБРАТНАЯ СВЯЗЬ</a>
		</div>
		<div class="like">
                              <div class="b-social">
                          <div class="soc fb"><img src="img/soc-fb.png"></div>
                          <div class="soc vk"><img src="img/soc-vk.png"></div>
                          <div class="soc tw"><img src="img/soc-tw.png"></div>
                          <div class="soc ok"><img src="img/soc-ok.png"></div>

                      </div><!--b-social-->
        </div>
		<div class="banner"><a href="#"><img src="img/banner.png" alt=''/></a></div>
		<div class="footer-like">
			<a href="#" class="twitter">&nbsp;</a>&nbsp; 
			<a href="#" class="facebook">&nbsp;</a>&nbsp;
			<a href="#" class="vk">&nbsp;</a>&nbsp;
		</div>
		<div class="copyrights">&copy; 2013, ЖКХ-online</div>
		<div class="support"><a href="#">Разработка сайта <img src="css/pict/link.png" alt=''/></a></div> 

	</div>
</div><!-- .footer -->

</body>
</html>