<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>_ ЖКХ tariff.html</title>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:700,400&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/style.css" type="text/css" media="screen, projection" />
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
</head>

<body class="base">

<div class="wrapper">

	<div class="header">
		<div class="logo"><a href="#"><img src="img/logo.png" alt="Лого" title="Логотип Компании"></a></div><!--.logo-->
		<div class="header_user">Якушевский Виталий</div>
		<div class="header_user_data"><a title="Изменить личные данные" href="#">Изменить личные данные</a></div>
		<div class="header_user_exit"><a title="Выход" href="#">Выход <span class="exit">&nbsp;</span></a></div>
		<div class="header_user_personal-account"><a title="Все лицевые счета" href="#"><span class="personal-account">&nbsp;</span>Все лицевые счета</a></div>
	</div><!-- .header-->

	<div class="middle">
		
		<div class="catalog_title">
			Тарифы
			<div class="tariff_right">
				<span class="arrow-white-left">&nbsp;</span>
				<div class="spr_norma_title-year">
					Февраль 2012
				</div>
				<span class="arrow-white-right">&nbsp;</span>
				<div class="separator"></div>
				<div class="spr_norma_title-xls">
					<a href="#"><span class="xls">&nbsp;</span> Полная таблица <span class="xls-size">635 КБ</span></a> 
				</div>				
			</div>
		</div>

		<div class="tariff_block-top">
			<div class="block_content_0">Услуга</div>
			<div class="block_content_1">Расценка</div>
			<div class="block_content_2">Ед. изм.</div>
			<div class="block_content_3">Тариф для населения, руб.</div>
			<div class="block_content_4">Тариф для ЧУП, руб.</div>
			<div class="separator"></div>
		</div>

		<div class="spr_norma_catalog-items">
			<div class="tariff_catalog-item">
				<div class="tariff_catalog-item_title">
					Водоснабжение
				</div>
			
				<div class="tariff_catalog-item_date">
					<div class="tariff_catalog-item_name">
						230л,ЦГВ,мойки,души,с.ван
					</div>	
					<div class="tariff_catalog-item_unit">
						чел.
					</div>
					<div class="tariff_catalog-item_number">
						<div class="tariff_catalog-item_inner-title">
							0,0023 <span class="arrow-blue">&nbsp;</span>
						</div>
						<div class="tariff_catalog-item_inner-date">
							На основании решения   28.01.08 №12/3-8/240  Минск.обл.УП «УЖКХ»   28.01.08 №12/3-8/240<br>
							с 01.05.08г.<br>
							<a href="#">График 1</a>
						</div>
					</div>
					<div class="tariff_catalog-item_number">
						<div class="tariff_catalog-item_inner-title">
							0,0023 <span class="arrow-blue">&nbsp;</span>
						</div>
						<div class="tariff_catalog-item_inner-date">
							На основании  28.01.08 №12/3-8/240  решения   28.01.08 №12/3-8/240  Минск.обл.УП «УЖКХ»   28.01.08 №12/3-8/240<br>
							с 01.05.08г.<br>
							<a href="#">График 1</a>
						</div>
					</div>
					<div class="separator"></div>
				</div>
				<div class="tariff_catalog-item_date">
					<div class="tariff_catalog-item_name">
						130л,В,К,газ,без ванн
					</div>	
					<div class="tariff_catalog-item_unit">
						чел.
					</div>
					<div class="tariff_catalog-item_number">
						<div class="tariff_catalog-item_inner-title">
							0,0023 <span class="arrow-blue">&nbsp;</span>
						</div>
						<div class="tariff_catalog-item_inner-date">
							На основании решения   28.01.08 №12/3-8/240  Минск.обл.УП «УЖКХ»   28.01.08 №12/3-8/240<br>
							с 01.05.08г.<br>
							<a href="#">График 1</a>
						</div>
					</div>
					<div class="tariff_catalog-item_number">
						<div class="tariff_catalog-item_inner-title">
							0,0023 <span class="arrow-blue">&nbsp;</span>
						</div>
						<div class="tariff_catalog-item_inner-date">
							На основании  28.01.08 №12/3-8/240  28.01.08 №12/3-8/240  решения   28.01.08 №12/3-8/240  Минск.обл.УП «УЖКХ»   28.01.08 №12/3-8/240<br>
							с 01.05.08г.<br>
							<a href="#">График 1</a>
						</div>
					</div>
					<div class="separator"></div>
				</div>
				
				<div class="tariff_catalog-item_date">
					<div class="tariff_catalog-item_name">
						230л,ЦГВ,мойки,души,с.ван
					</div>	
					<div class="tariff_catalog-item_unit">
						чел.
					</div>
					<div class="tariff_catalog-item_number">
						<div class="tariff_catalog-item_inner-title">
							0,0023 <span class="arrow-blue">&nbsp;</span>
						</div>
						<div class="tariff_catalog-item_inner-date">
							На основании решения   28.01.08 №12/3-8/240  Минск.обл.УП «УЖКХ»  28.01.08 №12/3-8/240   28.01.08 №12/3-8/240<br>
							с 01.05.08г.<br>
							<a href="#">График 1</a>
						</div>
					</div>
					<div class="tariff_catalog-item_number">
						<div class="tariff_catalog-item_inner-title">
							0,0023 <span class="arrow-blue">&nbsp;</span>
						</div>
						<div class="tariff_catalog-item_inner-date">
							На основании решения   28.01.08 №12/3-8/240 28.01.08 №12/3-8/240  28.01.08 №12/3-8/240   Минск.обл.УП «УЖКХ»   28.01.08 №12/3-8/240<br>
							с 01.05.08г.<br>
							<a href="#">График 1</a>
						</div>
					</div>
					<div class="separator"></div>
				</div>

				<div class="tariff_catalog-item_date tariff_catalog-item_date-last">
					<div class="tariff_catalog-item_name">
						130л,В,К,газ,без ванн
					</div>	
					<div class="tariff_catalog-item_unit">
						чел.
					</div>
					<div class="tariff_catalog-item_number">
						<div class="tariff_catalog-item_inner-title">
							0,0023 <span class="arrow-blue">&nbsp;</span>
						</div>
						<div class="tariff_catalog-item_inner-date">
							На основании решения 28.01.08 №12/3-8/240<br>
							с 01.05.08г.<br>
							<a href="#">График 1</a>
						</div>
					</div>
					<div class="tariff_catalog-item_number">
						<div class="tariff_catalog-item_inner-title">
							0,0023 <span class="arrow-blue">&nbsp;</span>
						</div>
						<div class="tariff_catalog-item_inner-date">
							На №12/3-8/240<br>
							с 01.05.08г.<br>
							<a href="#">График 1</a>
						</div>
					</div>
					<div class="separator"></div>
				</div>
				
				<div class="separator"></div>
  			</div><!-- spr_lgot_catalog-item -->

			<div class="tariff_catalog-item">
				<div class="tariff_catalog-item_title">
					Отопление
				</div>
			
				<div class="tariff_catalog-item_date">
					<div class="tariff_catalog-item_name">
						230л,ЦГВ,мойки,души,с.ван
					</div>	
					<div class="tariff_catalog-item_unit">
						чел.
					</div>
					<div class="tariff_catalog-item_number">
						<div class="tariff_catalog-item_inner-title">
							0,0023 <span class="arrow-blue">&nbsp;</span>
						</div>
						<div class="tariff_catalog-item_inner-date">
							На основании решения   28.01.08 №12/3-8/240  Минск.обл.УП «УЖКХ»   28.01.08 №12/3-8/240<br>
							с 01.05.08г.<br>
							<a href="#">График 1</a>
						</div>
					</div>
					<div class="tariff_catalog-item_number">
						<div class="tariff_catalog-item_inner-title">
							0,0023 <span class="arrow-blue">&nbsp;</span>
						</div>
						<div class="tariff_catalog-item_inner-date">
							На основании  28.01.08 №12/3-8/240  решения   28.01.08 №12/3-8/240  Минск.обл.УП «УЖКХ»   28.01.08 №12/3-8/240<br>
							с 01.05.08г.<br>
							<a href="#">График 1</a>
						</div>
					</div>
					<div class="separator"></div>
				</div>
				<div class="tariff_catalog-item_date">
					<div class="tariff_catalog-item_name">
						130л,В,К,газ,без ванн
					</div>	
					<div class="tariff_catalog-item_unit">
						чел.
					</div>
					<div class="tariff_catalog-item_number">
						<div class="tariff_catalog-item_inner-title">
							0,0023 <span class="arrow-blue">&nbsp;</span>
						</div>
						<div class="tariff_catalog-item_inner-date">
							На основании решения   28.01.08 №12/3-8/240  Минск.обл.УП «УЖКХ»   28.01.08 №12/3-8/240<br>
							с 01.05.08г.<br>
							<a href="#">График 1</a>
						</div>
					</div>
					<div class="tariff_catalog-item_number">
						<div class="tariff_catalog-item_inner-title">
							0,0023 <span class="arrow-blue">&nbsp;</span>
						</div>
						<div class="tariff_catalog-item_inner-date">
							На основании  28.01.08 №12/3-8/240  28.01.08 №12/3-8/240  решения   28.01.08 №12/3-8/240  Минск.обл.УП «УЖКХ»   28.01.08 №12/3-8/240<br>
							с 01.05.08г.<br>
							<a href="#">График 1</a>
						</div>
					</div>
					<div class="separator"></div>
				</div>
				
				<div class="tariff_catalog-item_date">
					<div class="tariff_catalog-item_name">
						230л,ЦГВ,мойки,души,с.ван
					</div>	
					<div class="tariff_catalog-item_unit">
						чел.
					</div>
					<div class="tariff_catalog-item_number">
						<div class="tariff_catalog-item_inner-title">
							0,0023 <span class="arrow-blue">&nbsp;</span>
						</div>
						<div class="tariff_catalog-item_inner-date">
							На основании решения   28.01.08 №12/3-8/240  Минск.обл.УП «УЖКХ»  28.01.08 №12/3-8/240   28.01.08 №12/3-8/240<br>
							с 01.05.08г.<br>
							<a href="#">График 1</a>
						</div>
					</div>
					<div class="tariff_catalog-item_number">
						<div class="tariff_catalog-item_inner-title">
							0,0023 <span class="arrow-blue">&nbsp;</span>
						</div>
						<div class="tariff_catalog-item_inner-date">
							На основании решения   28.01.08 №12/3-8/240 28.01.08 №12/3-8/240  28.01.08 №12/3-8/240   Минск.обл.УП «УЖКХ»   28.01.08 №12/3-8/240<br>
							с 01.05.08г.<br>
							<a href="#">График 1</a>
						</div>
					</div>
					<div class="separator"></div>
				</div>

				<div class="tariff_catalog-item_date tariff_catalog-item_date-last">
					<div class="tariff_catalog-item_name">
						130л,В,К,газ,без ванн
					</div>	
					<div class="tariff_catalog-item_unit">
						чел.
					</div>
					<div class="tariff_catalog-item_number">
						<div class="tariff_catalog-item_inner-title">
							0,0023 <span class="arrow-blue">&nbsp;</span>
						</div>
						<div class="tariff_catalog-item_inner-date">
							На основании решения 28.01.08 №12/3-8/240<br>
							с 01.05.08г.<br>
							<a href="#">График 1</a>
						</div>
					</div>
					<div class="tariff_catalog-item_number">
						<div class="tariff_catalog-item_inner-title">
							0,0023 <span class="arrow-blue">&nbsp;</span>
						</div>
						<div class="tariff_catalog-item_inner-date">
							На №12/3-8/240<br>
							с 01.05.08г.<br>
							<a href="#">График 1</a>
						</div>
					</div>
					<div class="separator"></div>
				</div>
				
				<div class="separator"></div>
  			</div><!-- spr_lgot_catalog-item -->			
				
			
		<div class='pad-30'></div>	
		</div><!-- .spr_lgot_catalog-items-->
		<div class='pad-40'></div>
			
	</div><!-- .middle-->

</div><!-- .wrapper -->

<div class="footer">
	<div class="footer-inner">
		<div class="footer_question"><a href="#"><span class="question">&nbsp;</span> Вопросы и ответы</a></div>
		<ul class="footer-ul ul-clear">
			<li><a href="#">Справочник организаций</a></li>
			<li><a href="#">Льготы</a></li>
			<li><a href="#">Нормативы по теплу</a></li>
			<li><a href="#">Тарифы</a></li>
		</ul>
		<div class="feedback">
			<a href="#">ОБРАТНАЯ СВЯЗЬ</a>
		</div>
		<div class="like">
	                      <div class="b-social">
                          <div class="soc fb"><img src="img/soc-fb.png"></div>
                          <div class="soc vk"><img src="img/soc-vk.png"></div>
                          <div class="soc tw"><img src="img/soc-tw.png"></div>
                          <div class="soc ok"><img src="img/soc-ok.png"></div>

                      </div><!--b-social-->
		</div>
		<div class="banner"><a href="#"><img src="img/banner.png" alt=''/></a></div>
		<div class="footer-like">
			<a href="#" class="twitter">&nbsp;</a>&nbsp; 
			<a href="#" class="facebook">&nbsp;</a>&nbsp;
			<a href="#" class="vk">&nbsp;</a>&nbsp;
		</div>
		<div class="copyrights">&copy; 2013, ЖКХ-online</div>
		<div class="support"><a href="#">Разработка сайта <img src="css/pict/link.png" alt=''/></a></div> 

	</div>
</div><!-- .footer -->

</body>
</html>